
@import '../components/ymaps/ymaps.scss';

.content {
    border: 1px double black;
}

.sub-content {
    border: 1px double red;
}

.location:hover {
    opacity: 0.3;
}

.location {
    cursor: default;
}

.remove-location-btn {
    cursor: pointer;
    float: right;
}
