.raw
  .columns.medium-8.medium-offset-2.content
    .columns.medium-4.sub-content
      h1 hello
    .columns.medium-8.sub-content.centered
      div.map
        ya-map(ya-zoom=10, ya-controls="routeEditor zoomControl searchControl")
