.raw
  .columns.medium-8.medium-offset-2.content
    
    .columns.medium-4.sub-content
      input(type='text', placeholder='Type location')
      .raw(ng-repeat='location in main.locations').location
        .columns.medium-11
          .span {{location}}
        .columns.medium-1
          .span.remove-location-btn X

    .columns.medium-8.sub-content
      y-map
