nav.top-bar.row
  ul.title-area
    li.name
      h1
        a(href='https://github.com/Swiip/generator-gulp-angular') Gulp & Angular
  section.top-bar-section
    ul.right
      li.active
        a(ng-href='#') Home
      li
        a(ng-href='#') About
      li
        a(ng-href='#') Contact
    p.acme-navbar-text Application was created {{ vm.relativeDate }}.
